{% extends "core.html" %}
{% load staticfiles %}

{% block header %}
<h4>About</h4>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-md-offset-3">
        <div id=staticpage>
            <p>
                Vegan UConn shows you where to find vegan food around the Storrs
                campus - we all get tired of Whitney once in a while.
            </p>
            <p>
                If you have a feature suggestion or find a bug, please let me know!
                Email me at <span style="white-space: nowrap">hey <img alt="at" src="{% static "img/at.gif" %}"></img> btao.org.</span>
            </p>
        </div>
    </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}
