{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vegan UConn</title>

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/simple-sidebar.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/cosmo-theme.css" %}">

        <!-- Ensure proper rendering on mobile devices, and disable zooming -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">

        <!-- Hide navbar if website is bookmarked on iOS home screen-->
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <!-- iOS icons -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static "img/ios-icon-57.png" %}"/>
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "img/ios-icon-114.png" %}"/>
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static "img/ios-icon-120.png" %}"/>

    </head>
    <body>
        <div id="wrapper">
            <!-- Alert only shown if user sorts by location -->
            <div id="getting-location-alert" class="alert alert-info" role="alert">
                Getting your location...&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <a href="/">
                        <img id="husky-logo" alt="logo" src="{% static "img/logo.png" %}">
                        <li id="sidebar-name"><h1>Vegan UConn</h1></li>
                    </a>
                    {% block sidebar %}
                    {% endblock %}
                    <li>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="999CUATHFUUKU">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/getinvolved">Get involved</a>
                    </li>-->
                    <li>
                        <a href="http://vegankit.com/why" target="_blank">Why veganism?</a>
                    </li>
                    <!--<li>
                        <a href="#">Statistics</a>
                    </li>-->
                </ul>
            </div> <!-- /#sidebar-wrapper -->
            <div id="page-content-wrapper">
                <div id="top-header">
                    <div class="lines-button-wrapper">
                        <button type="button" aria-label="Toggle Navigation" class="lines-button x">
                            <span class="lines"></span>
                        </button>
                    </div>
                    {% block header %}
                    {% endblock %}
                </div> <!-- /#top-header -->
                <div id="iOSModal" class="modal fade" role="dialog" aria-labelledby="Download the Vegan UConn mobile app for free.">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">
                                    Get the app!
                                </h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    To download this app for free, just tap
                                    the share button below (<img alt="iOS share button" src="{% static "img/ios_share_button.PNG" %}">) and choose "Add to Home Screen".
                                </p>
                                <p>
                                    The app will then be installed as an icon on your home screen.
                                </p>
                                <img alt="iOS add to home screen button" style="width: 90%" src="{% static "img/ios_add_to_home_screen.PNG" %}">
                                <span class="ios-modal-arrow"><span class="glyphicon glyphicon-arrow-down"></span></span>
                            </div>
                        </div>
                    </div>
                </div> <!-- /#iOSModal -->
                <a id="iOS-modal-button" data-toggle="modal" data-target="#iOSModal" class="btn btn-default">Download the Vegan UConn app for free.</a>
                <div class="container">
                    {% block main %}
                    {% endblock %}
                </div> <!-- /.container -->
            </div> <!-- /#page-content-wrapper -->
        </div> <!-- /#wrapper -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
              var u="https://stats.cursed.technology/";
              _paq.push(['setTrackerUrl', u+'matomo.php']);
              _paq.push(['setSiteId', '3']);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="https://stats.cursed.technology/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
        <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
